data/raw/*
data/curated/*
data/*.duckdb
data/*.wal
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
notebooks/data/*.duckdb
notebooks/data/*.duckdb.wal
backup_notebooks_data_db/

backup_notebooks_data_db/
